numpy
certifi
intel-openmp
libtiff
mkl
mkl-service
mkl_fft
mkl_random
ninja
olefile
readline
setuptools
six
tk
wheel
zstd
click
cycler
einops==0.4.1
future
humanize
kiwisolver
matplotlib
monai==0.9.0
nibabel=4.0.1
packaging
pandas
pillow
pyparsing
python-dateutil
python-deprecated
pytz
scipy
simpleitk
torchvision==0.13.1 # TAR
pytorch-ignite==0.4.2
tqdm
pycocotools
pydicom
