numpy
certifi
intel-openmp
libtiff
mkl
mkl-service
mkl_fft
mkl_random
ninja
olefile
readline
setuptools
six
tk
wheel
zstd
click
cycler
einops
future
humanize
kiwisolver
matplotlib
monai
nibabel
packaging
pandas
pillow
pyparsing
python-dateutil
python-deprecated
pytz
scipy
simpleitk
torchvision # TAR
pytorch-ignite
tqdm
pycocotools
pydicom
